<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <form method="post" action="/success">
            <input type="text" name="studentname" placeholder="name"/>
            <br>
            <input type="text" name="course" placeholder="cousrse"/>
            <br>
            <input type="text" name="age" placeholder="age"/>
            <br>
        <input type="text" name="email" placeholder="email"/>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>